<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logout</title>
    <!-- Font Icon -->
    <link rel="stylesheet"
        href="{{ url_for('static', path='../static/fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', path='../static/css/style.css') }}">
</head>

<body>
        <!-- Sign in  Form -->
        <div class="form-group form-button">
            <input type="submit" name="signout" id="signout" class="form-submit" value="Log out" />

        </div>

</body>

</html>

</html>